---
import SandwichStack from "./SandwichStack.jsx";
---

<section class="px-4 sm:px-6 md:px-12 py-20">
  <div
    class="relative flex flex-col bg-theme-light-gray rounded-2xl p-8 sm:p-12 h-[450px]"
  >
    <h2 class="text-3xl sm:text-4xl mb-12">Preguntar es parte del proceso</h2>

    <div class="w-full flex mt-16">
      <SandwichStack client:load />
    </div>
  </div>
</section>
