---
import CircleWrapper from "./CircleWrapper.jsx";
---

<!-- Tres círculos grandes los cuales al hacerles hover o click muestran un texto bajo de ellos -->

<section
  id="which-will-involve"
  class="min-h-screen flex flex-col items-center py-16 px-4 sm:px-6 gap-12"
>
  <h2 class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
    Qué implicará para ti
  </h2>

  <CircleWrapper client:load />
</section>
