---
import CustomLink from "./ui/Links/CustomLink.astro";
import ThemeToggle from "./ui/ThemeToggle.astro";
---

<header class="header">
  <div class="container">
    <a href="/">
      <h1 class="main-header">UI Library</h1>
    </a>
    <nav class="nav">
      <CustomLink href="/buttons" class="nav-link">Botones</CustomLink>
      <CustomLink href="/inputs" class="nav-link">Inputs</CustomLink>
      <CustomLink href="/cards" class="nav-link">Cards</CustomLink>
    </nav>

    <ThemeToggle />
  </div>
</header>

<style>
  /* HEADER GENERAL */
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--color-surface);
    border-bottom: 1px solid var(--color-muted);
    z-index: 100;
    transition: background 0.3s ease;
  }

  /* CONTENEDOR RESPONSIVO CENTRADO */
  .container {
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  /* LOGO */
  .container a {
    text-decoration: none;
  }
  .main-header {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logoFadeIn 1s ease forwards;
    opacity: 0;
  }

  @keyframes logoFadeIn {
    to {
      opacity: 1;
    }
  }

  /* NAV */
  .nav {
    display: flex;
    gap: 1.5rem;
  }

  @media (max-width: 768px) {
    .nav {
      gap: 1rem;
    }

    .logo {
      font-size: 1.2rem;
    }
  }
</style>
