---
import "../styles/fonts.css";
import "../styles/theme.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    font-family: var(--font-sans);
    margin: 0;
    background-color: var(--color-bg);
  }

  main {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
